<div class="book-summary">

<style>

/* ============================================================
   CHAPTER LOCKING STYLES
   ============================================================ */

.chapter-lock-link {
    position: relative;
}

.chapter-lock-link.chapter-locked {
    opacity: 0.5;
    cursor: not-allowed;
}

.chapter-lock-link.chapter-locked:hover {
    text-decoration: none;
}

.chapter-lock-icon {
    display: inline-block;
    margin-left: 6px;
    font-size: 0.9em;
    vertical-align: baseline;
}

.chapter-unlocked .chapter-lock-icon {
    display: none;
}

.chapter-locked .chapter-lock-icon {
    display: inline-block;
}

li.chapter.chapter-is-locked > a {
    cursor: not-allowed;
}

</style>


<script type="text/javascript">

/* ============================================================
   EXISTING GITBOOK SCROLL FUNCTIONS
   ============================================================ */

function pageScrollToTop(element) {

    $('div.body-inner').animate({
        scrollTop: 0
    });

    $(element)
        .parent()
        .find('li>ul>li')
        .removeClass('active');

    return true;

}


function mobilePageScrollToAnchor(element) {

    $(element)
        .closest('li.chapter')
        .find('ul>li')
        .removeClass('active');

    $(element)
        .parent()
        .addClass('active');


    if ($(document).width() <= 1240) {

        let target =
            $($(element).attr('href'));


        if (target.length) {

            $('div.body-inner').animate({

                scrollTop:
                    target.get(0).offsetTop

            });

        }

    }


    return true;

}



/* ============================================================
   CHAPTER LOCKING SYSTEM
   ============================================================ */

(function(){

    /*
    ------------------------------------------------------------
    STORAGE FORMAT

    Chapter 1:
        always unlocked

    After Chapter 1 is completed:
        latin-chapter-1-complete = true

    After Chapter 2 is completed:
        latin-chapter-2-complete = true

    etc.

    Chapter N becomes accessible when Chapter N-1
    has been completed.
    ------------------------------------------------------------
    */


    function chapterCompletionKey(chapterNumber) {

        return (
            "latin-chapter-" +
            chapterNumber +
            "-complete"
        );

    }



    function isChapterComplete(chapterNumber) {

        return localStorage.getItem(
            chapterCompletionKey(chapterNumber)
        ) === "true";

    }



    function isChapterUnlocked(chapterNumber) {

        /*
        Chapter 1 is always available.
        */

        if (chapterNumber <= 1) {

            return true;

        }


        /*
        Every later chapter requires completion
        of the preceding chapter.
        */

        return isChapterComplete(
            chapterNumber - 1
        );

    }



    function updateChapterNavigation() {

        const links =
            document.querySelectorAll(
                ".chapter-lock-link"
            );


        links.forEach(function(link){

            const chapterNumber =
                parseInt(
                    link.dataset.chapter,
                    10
                );


            if (
                !chapterNumber ||
                Number.isNaN(chapterNumber)
            ) {

                return;

            }


            const unlocked =
                isChapterUnlocked(
                    chapterNumber
                );


            const parent =
                link.closest(
                    "li.chapter"
                );


            /* =================================================
               UNLOCKED CHAPTER
               ================================================= */

            if (unlocked) {

                link.classList.remove(
                    "chapter-locked"
                );

                link.classList.add(
                    "chapter-unlocked"
                );

                link.removeAttribute(
                    "aria-disabled"
                );

                link.removeAttribute(
                    "tabindex"
                );


                /*
                Restore the original chapter URL if this
                chapter was previously locked.
                */

                if (
                    link.dataset.lockedHref
                ) {

                    link.setAttribute(
                        "href",
                        link.dataset.lockedHref
                    );

                    delete link.dataset.lockedHref;

                }


                if (parent) {

                    parent.classList.remove(
                        "chapter-is-locked"
                    );

                }

            }


            /* =================================================
               LOCKED CHAPTER
               ================================================= */

            else {

                link.classList.remove(
                    "chapter-unlocked"
                );

                link.classList.add(
                    "chapter-locked"
                );

                link.setAttribute(
                    "aria-disabled",
                    "true"
                );

                link.setAttribute(
                    "tabindex",
                    "-1"
                );


                /*
                Save the real URL before removing it.

                This prevents GitBook's own navigation
                system from loading the chapter even if
                another click handler fires.
                */

                if (
                    link.hasAttribute("href")
                ) {

                    link.dataset.lockedHref =
                        link.getAttribute("href");

                    link.removeAttribute(
                        "href"
                    );

                }


                if (parent) {

                    parent.classList.add(
                        "chapter-is-locked"
                    );

                }

            }

        });

    }



    /* ========================================================
       LOCKED LINK CLICK HANDLER
       ======================================================== */

    function handleLockedChapterClick(event) {

        const link =
            event.target.closest(
                ".chapter-lock-link"
            );


        if (!link) {

            return;

        }


        if (
            !link.classList.contains(
                "chapter-locked"
            )
        ) {

            return;

        }


        /*
        Stop all navigation before GitBook or another
        script can process the click.
        */

        event.preventDefault();

        event.stopPropagation();

        event.stopImmediatePropagation();


        const chapterNumber =
            parseInt(
                link.dataset.chapter,
                10
            );


        if (
            chapterNumber &&
            chapterNumber > 1
        ) {

            const requiredChapter =
                chapterNumber - 1;


            window.alert(

                "Chapter " +
                chapterNumber +
                " is locked. Complete all required exercises in Chapter " +
                requiredChapter +
                " to unlock it."

            );

        }

        else {

            window.alert(
                "This chapter is currently locked."
            );

        }


        return false;

    }



    /* ========================================================
       PUBLIC FUNCTIONS
       ======================================================== */

    /*
    These allow chapter exercises to refresh the
    sidebar immediately after completion.
    */

    window.updateChapterNavigation =
        updateChapterNavigation;


    window.isLatinChapterUnlocked =
        isChapterUnlocked;


    window.isLatinChapterComplete =
        isChapterComplete;



    /* ========================================================
       CLICK LISTENER

       true = capture phase

       This means the locking handler runs BEFORE
       GitBook's own navigation handlers.
       ======================================================== */

    document.addEventListener(
        "click",
        handleLockedChapterClick,
        true
    );



    /* ========================================================
       INITIAL PAGE LOAD
       ======================================================== */

    if (
        document.readyState ===
        "loading"
    ) {

        document.addEventListener(
            "DOMContentLoaded",
            updateChapterNavigation
        );

    }

    else {

        updateChapterNavigation();

    }



    /* ========================================================
       MULTIPLE TAB SUPPORT

       If progress changes in another browser tab,
       refresh the sidebar automatically.
       ======================================================== */

    window.addEventListener(
        "storage",
        updateChapterNavigation
    );


})();

</script>



<nav role="navigation">


<div
id="book-search-input"
role="search">

<input
type="text"
placeholder="Type to search" />

</div>


<div
id="book-search-input-link"
role="search">

<a
href="{{site.baseurl}}/assets/search.html">

Click to Search

</a>

</div>



<ul class="summary">


<!-- ============================================================
     HOME / BOOK TITLE
     ============================================================ -->

{% if page.url == "/index.html" or page.url == "/" %}

<li
class="chapter active"
data-level="1.1"
data-path="{{site.baseurl}}">

{% else %}

<li
class="chapter"
data-level="1.1"
data-path="{{site.baseurl}}">

{% endif %}


<a
href="{{site.baseurl}}/"
onclick="pageScrollToTop(this)">

{{ site.title | escape }}

</a>


{% if site.toc.enabled %}

    {% if site.toc.enabled_index %}

        {% include toc.html
            html=content
            h_min=site.toc.h_min
            h_max=site.toc.h_max
        %}

    {% endif %}

{% endif %}


</li>


<li class="divider"></li>



<!-- ============================================================
     ORDERED COLLECTIONS
     ============================================================ -->

{% if site.ordered_collections %}


{% for label in site.ordered_collections %}


{% assign collection =
    site.collections
    | where: "label", label
    | first
%}


{% if collection.output %}


{% if collection.label == "posts" %}

    {% assign reversed_posts =
        site[collection.label]
        | reverse
    %}

{% else %}

    {% assign reversed_posts =
        site[collection.label]
    %}

{% endif %}



{% for post in reversed_posts %}


<!-- ============================================================
     DETERMINE WHETHER THIS POST IS A CHAPTER
     ============================================================ -->

{% assign title_words =
    post.title
    | split: " "
%}


{% assign first_word =
    title_words[0]
%}


{% assign chapter_number_raw =
    title_words[1]
    | remove: "."
    | remove: ":"
%}


{% assign chapter_number =
    chapter_number_raw
    | plus: 0
%}



<!-- ============================================================
     ACTIVE / STANDARD LIST ITEM
     ============================================================ -->

{% if page.url == post.url %}

<li
class="chapter active"
data-level="1.2"
data-path="{{site.baseurl}}{{post.url}}">

{% else %}

<li
class="chapter"
data-level="1.1"
data-path="{{site.baseurl}}{{post.url}}">

{% endif %}



<!-- ============================================================
     CHAPTER LINKS
     ============================================================ -->

{% if first_word == "Chapter" and chapter_number > 0 %}


<a
href="{{site.baseurl}}{{post.url}}"
onclick="pageScrollToTop(this)"
class="chapter-lock-link chapter-unlocked"
data-chapter="{{chapter_number}}"
data-chapter-title="{{post.title | escape}}">

{{ post.title | escape }}

<span
class="chapter-lock-icon"
aria-hidden="true">
🔒
</span>

</a>


{% else %}


<!--
Non-chapter posts and pages remain normal links.
They are not affected by the chapter progression system.
-->

<a
href="{{site.baseurl}}{{post.url}}"
onclick="pageScrollToTop(this)">

{{ post.title | escape }}

</a>


{% endif %}



<!-- ============================================================
     CURRENT PAGE TABLE OF CONTENTS
     ============================================================ -->

{% if site.toc.enabled %}

    {% if page.url == post.url %}

        {% include toc.html
            html=content
            h_min=site.toc.h_min
            h_max=site.toc.h_max
        %}

    {% endif %}

{% endif %}


</li>


{% endfor %}



{% if reversed_posts.size > 0 %}

<li class="divider"></li>

{% endif %}


{% endif %}


{% endfor %}



<!-- ============================================================
     FALLBACK WHEN ordered_collections IS NOT DEFINED
     ============================================================ -->

{% else %}


{% for collection in site.collections %}


{% if collection.output %}


{% if collection.label == "posts" %}

    {% assign reversed_posts =
        site[collection.label]
        | reverse
    %}

{% else %}

    {% assign reversed_posts =
        site[collection.label]
    %}

{% endif %}



{% for post in reversed_posts %}


<!-- ============================================================
     DETERMINE CHAPTER NUMBER
     ============================================================ -->

{% assign title_words =
    post.title
    | split: " "
%}


{% assign first_word =
    title_words[0]
%}


{% assign chapter_number_raw =
    title_words[1]
    | remove: "."
    | remove: ":"
%}


{% assign chapter_number =
    chapter_number_raw
    | plus: 0
%}



<!-- ============================================================
     ACTIVE / STANDARD LIST ITEM
     ============================================================ -->

{% if page.url == post.url %}

<li
class="chapter active"
data-level="1.2"
data-path="{{site.baseurl}}{{post.url}}">

{% else %}

<li
class="chapter"
data-level="1.1"
data-path="{{site.baseurl}}{{post.url}}">

{% endif %}



<!-- ============================================================
     CHAPTER LINK
     ============================================================ -->

{% if first_word == "Chapter" and chapter_number > 0 %}


<a
href="{{site.baseurl}}{{post.url}}"
onclick="pageScrollToTop(this)"
class="chapter-lock-link chapter-unlocked"
data-chapter="{{chapter_number}}"
data-chapter-title="{{post.title | escape}}">

{{ post.title | escape }}

<span
class="chapter-lock-icon"
aria-hidden="true">
🔒
</span>

</a>


{% else %}


<a
href="{{site.baseurl}}{{post.url}}"
onclick="pageScrollToTop(this)">

{{ post.title | escape }}

</a>


{% endif %}



<!-- ============================================================
     CURRENT PAGE TABLE OF CONTENTS
     ============================================================ -->

{% if site.toc.enabled %}

    {% if page.url == post.url %}

        {% include toc.html
            html=content
            h_min=site.toc.h_min
            h_max=site.toc.h_max
        %}

    {% endif %}

{% endif %}


</li>


{% endfor %}



{% if reversed_posts.size > 0 %}

<li class="divider"></li>

{% endif %}


{% endif %}


{% endfor %}


{% endif %}


</ul>

</nav>

</div>