<!DOCTYPE HTML>

<html lang="en">

<head>

{%- include head.html -%}



<!-- ============================================================
     DETERMINE CURRENT CHAPTER NUMBER
     ============================================================ -->

{% assign current_title_words =
    page.title
    | split: " "
%}


{% assign current_first_word =
    current_title_words[0]
%}


{% assign current_chapter_number_raw =
    current_title_words[1]
    | remove: "."
    | remove: ":"
%}


{% assign current_chapter_number =
    current_chapter_number_raw
    | plus: 0
%}



<!-- ============================================================
     DETERMINE NEXT PAGE CHAPTER NUMBER
     ============================================================ -->

{% if page.next %}


    {% assign next_title_words =
        page.next.title
        | split: " "
    %}


    {% assign next_first_word =
        next_title_words[0]
    %}


    {% assign next_chapter_number_raw =
        next_title_words[1]
        | remove: "."
        | remove: ":"
    %}


    {% assign next_chapter_number =
        next_chapter_number_raw
        | plus: 0
    %}


{% endif %}



<!-- ============================================================
     PREVIOUS PAGE RELATION
     ============================================================ -->

{% if page.previous %}

<link
rel="prev"
href="{{site.baseurl}}{{page.previous.url}}" />

{% else %}

<link
rel="prev"
href="{{site.baseurl}}/" />

{% endif %}



<!-- ============================================================
     NEXT PAGE RELATION
     ============================================================ -->

{% if page.next %}

<link
rel="next"
href="{{site.baseurl}}{{page.next.url}}" />

{% endif %}


</head>



<!-- ============================================================
     CURRENT CHAPTER IDENTIFIER

     chapter-locks.html uses this to prevent direct URL access
     to a chapter whose prerequisite has not been completed.
     ============================================================ -->

{% if current_first_word == "Chapter" and current_chapter_number > 0 %}

<body
data-current-chapter="{{current_chapter_number}}">

{% else %}

<body>

{% endif %}



<div class="book">



<!-- ============================================================
     SIDEBAR
     ============================================================ -->

{%- include toc-date.html -%}



<!-- ============================================================
     CENTRAL CHAPTER LOCKING SYSTEM

     This file contains:
     - lock CSS
     - custom modal
     - localStorage logic
     - sidebar locking
     - Next-arrow locking
     - direct URL protection
     ============================================================ -->

{%- include chapter-locks.html -%}



<div class="book-body">



<div
class="book-header"
role="navigation">


<!-- ============================================================
     TITLE
     ============================================================ -->

<h1>

<i class="fa fa-circle-o-notch fa-spin"></i>


{% if page.title %}

<a href=".">
{{ page.title | escape }}
</a>

{% else %}

<a href=".">
{{ site.title | escape }}
</a>

{% endif %}


</h1>


</div>



<div class="body-inner">



<!-- ============================================================
     PAGE CONTENT
     ============================================================ -->

{%- include body.html -%}



<!-- ============================================================
     PREVIOUS PAGE NAVIGATION

     Previous navigation is never locked.
     ============================================================ -->

{% if page.previous %}


<a
href="{{site.baseurl}}{{page.previous.url}}"
class="navigation navigation-prev navigation-unique"
aria-label="Previous page: {{page.previous.title}}">

<i class="fa fa-angle-left"></i>

</a>


{% else %}


<a
href="{{site.baseurl}}/"
class="navigation navigation-prev navigation-unique"
aria-label="Previous page: {{site.title}}">

<i class="fa fa-angle-left"></i>

</a>


{% endif %}



<!-- ============================================================
     NEXT PAGE NAVIGATION
     ============================================================ -->

{% if page.next %}



    <!-- ========================================================
         NEXT PAGE IS A NUMBERED CHAPTER

         chapter-locks.html will determine whether this
         URL stays active or is temporarily removed.
         ======================================================== -->

    {% if next_first_word == "Chapter" and next_chapter_number > 0 %}


    <a
    href="{{site.baseurl}}{{page.next.url}}"
    class="navigation navigation-next navigation-unique chapter-next-lock-link chapter-next-unlocked"
    data-next-chapter="{{next_chapter_number}}"
    data-next-title="{{page.next.title | escape}}"
    aria-label="Next page: {{page.next.title}}">

        <i class="fa fa-angle-right"></i>

        <span
        class="chapter-next-lock-icon"
        aria-hidden="true">
        🔒
        </span>

    </a>



    <!-- ========================================================
         NEXT PAGE IS NOT A NUMBERED CHAPTER

         This behaves as a normal GitBook navigation link.
         ======================================================== -->

    {% else %}


    <a
    href="{{site.baseurl}}{{page.next.url}}"
    class="navigation navigation-next navigation-unique"
    aria-label="Next page: {{page.next.title}}">

        <i class="fa fa-angle-right"></i>

    </a>


    {% endif %}



{% endif %}



</div>

</div>



<!-- ============================================================
     EXISTING GITBOOK PAGE METADATA
     ============================================================ -->

<script>

var gitbook =
    gitbook || [];


gitbook.push(function() {

    gitbook.page.hasChanged(
        {%- include metadata-post.json.tpl -%}
    );

});

</script>



</div>



{%- include footer.html -%}


</body>

</html>